In [1]:
#1
a = ['python', 'php', 'java']
print(a[0])
print(a[1])
print(a[2])

python
php
java

In [5]:
#2
b= [65,99,44,67,2,10,89,43,38,12]
n = 0
for i in range(0, len(b)):
    n = n + b[i]
print("sum=", n)

sum= 469

In [6]:
#3
c = [2,4,5,8,10]
n = 1
for i in range(0, len(c)):
    n = n * c[i]
print(n)

3200

In [10]:
#4
d = [2,4,5,8,10]
def multi(value):
    a = d[2]
    b = d[-1]
    y = a * b
    return y

multi(d)

50

In [13]:
#5
e = [2,4,5,8,10]
def y(e):
    a = max(e)
    b = min(e)
    y = (a,b)
    return y
y(e)

(10, 2)

In [14]:
#6
f = ["abdba", "abcd", "121"]
n = 0;
for i in f:
    if (len(i) >= 2 and i[0] == i[-1]):
        n = n + 1
print(n)

2

In [17]:
#7
g = ["abdba", "abcd", "121", "121", "abcd"]
g = dict.fromkeys(g)
print(list(g))

['abdba', 'abcd', '121']

In [19]:
#8
h = [5, 2, "list"]
#h = []
if h:
    print("List is not empty")
else:
    print("List is Empty")

List is not empty

In [22]:
#9
j = [1, 1, 1, 1, 9, 1 ,9, 1,9, 1, 1, 1]
anti_j = [4, 6, 8]
for i in sorted(anti_j, reverse = True):
    del j[i]
print(j)

[1, 1, 1, 1, 1, 1, 1, 1, 1]

In [25]:
#10 
tuple_a = (56,89,45,36,32)
print(tuple_a)

(56, 89, 45, 36, 32)

In [27]:
#11
tuple_b = (56,89,45,36,32)
y = list(tuple_b)
y.extend(["a", "b"])
tuple_b = tuple(y)
print(tuple_b)

(56, 89, 45, 36, 32, 'a', 'b')

In [29]:
#12 
tuple_c = (56, 89, 45, 36, 32, 'a', 'b')
x = tuple_c[1], tuple_c[-2]
print(x)

(89, 'a')

In [32]:
#13 
tuple_d = ("A","B", "C", "D")
x = input("Test value: ")
if x in tuple_d:
    print("yes")
else:
    print("no")

Test value: F
no

In [34]:
#14
tuple_e = (56, 89, 45, 36, 32, 'a', 'b')
for i in tuple_e:
    print(i)

56
89
45
36
32
a
b

In [35]:
#15
set_a = {56, 89, 45, 36, 32}
set_b = {"a", "b"}
set_union = set_a.union(set_b)
print(set_union)

{32, 'b', 'a', 36, 56, 89, 45}

In [37]:
#16
set_a = {32, 'b', 'a', 36, 56, 89, 45}
set_b = {56, 89, 45, 36, 32}
set_dupli = set_a.intersection(set_b)
print(set_dupli)

{32, 36, 45, 56, 89}

In [39]:
#17
set_a = {32, 'b', 'a', 36, 56, 89, 45}
print(len(set_a))

7

In [41]:
#18
set_a = {4, 12, 0, 45, 22, 7}
set_b = {45, 6, 34, 35, 18, 90, 12}
set_remove = set_a.difference(set_b)
print(set_remove)

{0, 4, 22, 7}

In [42]:
#19
set_a = {4, 12, 0, 45, 22, 7}
set_a.clear()
print(set_a)

set()

In [45]:
#20
set_a = {56, 89, 45, 36, 32, 'a', 'b'}
del set_a
print(set_a)

NameError: name 'set_a' is not defined

In [53]:
#21
import operator
dict_a = {1: 3, 1: 7, 4: 2, 2: 0, 0: 0}
sorted_dict = sorted(dict_a.items(), key=operator.itemgetter(1))
print("ascending: ",sorted_dict)
sorted_dict = dict( sorted(dict_a.items(), key=operator.itemgetter(1),reverse=True))
print("descending : ",sorted_dict)

ascending:  [(2, 0), (0, 0), (4, 2), (1, 7)]
descending :  {1: 7, 4: 2, 2: 0, 0: 0}

In [55]:
#22
dict_b = {1: 3, 1: 7, 4: 2, 2: 0, 0: 0}
key = 6
if key in dict_b:
    print("the key is in the dict")
else:
    print("the key is NOT in the dict")

the key is NOT in the dict

In [56]:
#23
dict_b = {1: 3, 1: 7, 4: 2, 2: 0, 0: 0}
value = 10
if value in dict_b:
    print("the value is in the dict")
else:
    print("the value is NOT in the dict")

the value is NOT in the dict

In [57]:
#24
dict_c = {"a": 3, "b": 7, "c": 5, "d": 2}
for x,y in dict_c.items():
    print(x,y)

a 3
b 7
c 5
d 2

In [58]:
#25
dict_a = {"a": 3, "b": 7}
dict_b = {"c": 5, "d": 2}
y = dict_a.update(dict_b)
dict_a

{'a': 3, 'b': 7, 'c': 5, 'd': 2}

In [59]:
#26
dict_d = {"a": 3, "b": 7, "c": 5, "d": 2}
sum = 0
for i in dict_d.values():
    sum = sum + i
print(sum)

17